---
- name: Configure Security (WireGuard & UFW)
  hosts: all
  become: yes
  tasks:
    - name: Install security tools
      apt:
        name:
          - ufw
          - wireguard
          - fail2ban
        state: present
        update_cache: yes

    - name: Allow SSH
      community.general.ufw:
        rule: allow
        port: 22
        proto: tcp

    - name: Allow WireGuard
      community.general.ufw:
        rule: allow
        port: "{{ wireguard_port }}"
        proto: udp

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny
