---
- name: Configure Security (WireGuard & UFW)
  hosts: all
  become: yes
  tasks:
    - name: Install security tools
      apt:
        name:
          - ufw
          - wireguard
          - fail2ban
        state: present
        update_cache: yes

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny
